@tailwind base;
@tailwind components;
@tailwind utilities;

/* 잔디 채우기 색상 */
.react-calendar-heatmap .color-empty {
  fill: #eeeeee; /* 빈 칸 색상 */
}

.react-calendar-heatmap .color-scale-0 {
  fill: #eeeeee; /* 0 count */
}

.react-calendar-heatmap .color-scale-1 {
  fill: #d6e685; /* 1 count */
}

.react-calendar-heatmap .color-scale-2 {
  fill: #8cc665; /* 2 count */
}

.react-calendar-heatmap .color-scale-3 {
  fill: #44a340; /* 3 count */
}

.react-calendar-heatmap-month-labels {
  font-size: 10px;
}
.react-calendar-heatmap-weekday-label {
  font-size: 10px;
}
